/*style.css*/

body {
  background-color: rgb(43, 40, 40);
}

.content {
  overflow: hidden;
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
}

.ship {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("./assets/player1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.asteroid {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  background-image: url("./assets/asteroid.png");
  background-repeat: no-repeat;
  background-size: 640px 640px;
}
